* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Disable text selection */
body {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url('bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body::after {
    content: "";
    background: inherit;
    position: fixed; /* Change this line */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
}


.logo-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 45%;
}
.container {

    border-radius: 13px;
    border: 1px solid #f1acac;
    opacity: 1;
    background-color: rgb(255, 233, 178);
    align-items: center;
    flex-direction: column;

    
    padding: 2px;
}

@media screen and (min-width: 469px) {
    .logo {
        height: 79px; 
        width: 151px;
    }
    .container {
        margin-top: 5%;
        width: 400px; 
    }
    .popup{
        width: 400px; 

    }
    .popup2 {
        width: 100%; /* Adjust maximum width for smaller screens */
        height: 100%;
    }
    .overlay {
        width: 70%;
        height: 60%;
    }
    .popup2 .popup-images img {
        width: 20%;
        height: auto;
    }
      .custom-popup-content img {
    width: 18%;
          
      }
}



@media screen and (max-width: 468px) {
    .container {
        margin-top: 5%;
        width: 95%; /* Adjust for smaller screens */
        max-width: none; /* Remove the maximum width restriction */
    }
    .popup {
        width: 95%; /* Adjust maximum width for smaller screens */
    }
    .popup2 {
        width: 100%; /* Adjust maximum width for smaller screens */
        height: 100%;
    }
    
    .popup2 .popup-images img {
        width: 70%;
        height: auto;
    }

    .logo {
        height: 53px;
        width: 98px;
    }

    .imagehd {
        width: 100%; /* Make the image full width */
        max-width: 70%; /* Set a maximum width for the image */
        height: auto; /* Allow the image's height to adjust automatically */
    }
    .overlay {
        width: 90%;
        height: 80%;
    }
    .custom-popup-content img {
    width: 50%;
}

}

/* Add or modify your existing CSS styles here */

.stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.sticker {
    position: relative;
    width: calc(33.33% - 20px); /* Adjust width for responsiveness */
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    padding: 1px;
}

.sticker-image {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
}


.popup-images {
    display: flex;
    margin: 16px 10px 20px 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 11px;
}


.popup-image {
    background: #bd86dfe0;
    width: 30%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    filter: drop-shadow(1px 2px 2px black);
    margin: 4px;
}


img {
    width: 100%;
}


.sticker-counter {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(to right, #87d6d9 35%, #e8fbfe 0%);
    border-radius: 10px;
    padding: 0px 19px;
    min-width: 50px;
    border: solid 1px #71a6a7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}

.selected-popup {
    display: block;
    z-index: 1000;
    /* Add other styles as needed */
}


.logo {
 
    visibility: visible;
    background-image: url('logoo.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    border: 0px;
    position: absolute;
    bottom: -2px;
        left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.imagehd {
    position: absolute;
    width: 318px;
    height: 129px;
    /* max-width: 100%; */
    /* max-height: 100%; */
    background-image: url(card.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 13px;
    border: 0;
}



.time {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.node-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 82px; */
    /* height: 85px; */
    background-color: rgb(255, 229, 172);
}

.image-node {
    width: 16px;
    height: 16px;
    background-image: url(makr.png);
    background-position: center center;
    background-size: cover;

}

.time-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.time-left p {
    margin-left: 30px;
    font-size: 13px;
    font-weight: 600;
    color: #5a4653ff;
    padding: 5px 33px;
    border-radius: 10px;
    text-align: center;
    border: #7ed4dc solid 1px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}



.time-left p.progress {
    background: linear-gradient(to right, #87d6d9 35%, #e8fbfe 0%);
    width: 124px;
    height: 24px;
}
.timeleft{
    color: #5a4653ff;

}

/* Add your existing CSS styles here */

/* Sticker hover animation */
.sticker:hover .sticker-image {
    transform: scale(1.1);
}

/* Sticker click animation */
.sticker:active .sticker-image {
    transform: scale(0.9);
}




.popup-header {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden; /* This will make sure the inner radius is visible */
}

.popup-tasks {
    margin-top: 10px;
}

.task {
    background-color: #ff8d84;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}


    @keyframes moveTimeLeft {
        0% {
            transform: translateY(-10px); /* Initial position */
            opacity: 0; /* Initially invisible */
        }
        100% {
            transform: translateY(0); /* Final position */
            opacity: 1; /* Visible */
        }
    }

    .timeleft {
        animation: moveTimeLeft 1s ease-out forwards; /* Apply animation */
    }


       /* Add your custom cursor styles here */
       body {
        cursor: url('cursor/direct-selection.png'), auto;
    }
     
    

  /* Adjust cursor styles */
.button, a {
    cursor: pointer;
}



.overlay {
    position: fixed;
    background-color: rgb(241 238 200 / 41%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}




.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e2e2edb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    text-align: center;


}
@keyframes congratsAnimation {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.congrats-effect {
    animation: congratsAnimation 5s ease forwards;
    z-index: 100000;
}

.popup2 .popup-images img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Allow the height to adjust proportionally */
}


.popup2 .game-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popunique {
    display: flex;
    justify-content: center;
}

.popup-first {
    z-index: 1001; /* Higher z-index for the first popup */
}

@keyframes popupAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0.8); /* Initial scale and position */
        opacity: 0; /* Initially invisible */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Final scale and position */
        opacity: 1; /* Visible */
    }
}


.stickers {
    background-color: transparent; /* Set the background color of the stickers container to transparent */
}

.sticker-image {
    background-color: transparent !important; /* Ensure that the background color of the sticker images is transparent */
}

   
    
/* Define custom cursor for links */
a {
    cursor: url('cursor/pointer.png'), auto;
}

/* Define custom cursor for button hover */
.button:hover {
    cursor: url('cursor/pointer.png'), auto;
}

.sticker:hover{
    cursor: url('cursor/pointer.png'), auto;

}
.popup-button:hover{
    cursor: url('cursor/pointer.png'), auto;

}
.submit-button:hover{
        cursor: url('cursor/pointer.png'), auto;

}


    .footer {
        height: 100px;
    }

    .popup {
        overflow: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgb(250 245 222);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 1000; /* Default z-index */
        animation: popupAnimation 0.3s ease forwards;
        max-height: 90vh; /* Set a maximum height for the popup */
        position: relative; /* Ensure the position is relative to allow absolute positioning of the close button */
    }
    
    .close-button {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(250 245 222);
        color: rgb(95 70 10);
        width: 100%;
        max-width: 400px;
        height: 40px;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 101;
    }
    
    /* Show the close button only on small devices */
    @media screen and (max-width: 768px) {
        .close-button {
            display: block;
        }
    }
    


    .popup-button:active {
        box-shadow: none;
        position: relative;
        top: .2em;
    }
    button.popup-button {
    font-family: 'Skranji', cursive;
    width: 250px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    /* font-weight: bold; */
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px 5px 15px;
    background: radial-gradient(circle, #d5400c, #a54004);
    text-shadow: -1px -1px white, 1px 1px #8b8b8b;
    color: #ffc000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px 3px rgba(1,1,1,0.3);
    cursor: pointer;
    letter-spacing: 2px;

    border-top: 4px ridge #ffb000;
    border-left: 4px groove #ffb000;
    border-right: 4px ridge #ffb000;
    border-bottom: 4px groove #ffb000;
    }
    /* Hover effect */
    button.popup-button:hover {
    background: radial-gradient(circle, #e52b2b, #8b0000);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2)
    }
    
    /* Pressed effect */
    button.popup-button:active {
          background: radial-gradient(circle, #ec6a6a, #e52b2b);
    box-shadow: 0px 0 5px 5px rgba(255,255,255,0.2);
    }
    
    
    

/* Styles for the custom popup content */
.custom-popup-content {
        background: #f0f8ff87;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Styles for the username input */
.username-input {
    width: 80%;
    max-width: 300px;
    height: 50px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 3px solid #ff4f00;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    text-align: center;
}

/* Styles for the submit button */
.submit-button {
    width: 60%;
    max-width: 200px;
    height: 50px;
    background-color: #ff4f00;

    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #cc0000;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(213, 100, 23);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 50%;
    bottom: 30px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fade-in {
    animation: fadeIn 3.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Define the shine animation */
.popup-image {
    position: relative;
    overflow: hidden;
}

.popup-image::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.5); /* Adjust opacity for better visibility */
    transform: rotate(30deg);
    transition: transform 0.5s ease;
    animation: shine 2s infinite;
}

/* Define the shine animation keyframes */
@keyframes shine {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

/* Apply the shine effect on hover */
.popup-image:hover::before {
    transform: translateX(150%);
    background: rgba(255, 255, 255, 0.5); /* Adjust opacity for better visibility */
}

/* Apply custom cursor on hover */
.popup-image:hover {
    cursor: url('cursor/pointer.png'), auto;
    transform: scale(1.1); /* Scale the image up slightly on hover */
    transition: transform 0.3s ease; /* Smooth transition for the scaling effect */
}



/* Define scrollbar styles */
/* Width */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #faf5de; /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efd582; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(247 224 157); /* Color of the scrollbar handle on hover */
}

.popup {
    /* Your existing styles */
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeInPopup 0.5s ease forwards; /* Define the animation */
}

@keyframes fadeInPopup {
    from {
        opacity: 0; /* Start from fully transparent */
    }
    to {
        opacity: 1; /* End with full opacity */
    }
}



.verification-message {
    font-family: 'Arial', sans-serif; /* Choose your desired font family */
    font-size: 16px; /* Adjust the font size */
    color: #3498db; /* Change the color to your preferred color */
    animation: fade-in-out 1s ease-in-out forwards; /* Apply a fade-in and fade-out animation */
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}



.circle-spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #db5b0d;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.custom-popup-content p {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


.custom-popup-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

    
}

.load-locker-button {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    font-size: 16px;
background: #ef7a23;
color: #fff;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-locker-button:hover {
    background-color: #af5913;
            cursor: url('cursor/pointer.png'), auto;

}
